server:
  port: 18080

spring:
  application:
    name: window-order-system
  datasource:
    url: jdbc:mysql://localhost:3306/window_order_system?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 200MB
      file-size-threshold: 0

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com.window.system.mapper: debug

minio:
  endpoint: http://127.0.0.1:9000
  access-key: lkANXxJWqWDjNG9nECfG
  secret-key: 6r9lidmuaHG5kABZe82WWS6S7TwCtMPrCZIKIBYJ
  bucket-name: ssjj
